/* @import "../.././node_modules/components-font-awesome/css/fontawesome.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

.sb-selected {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(196 181 253 / var(--tw-ring-opacity));
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
        outline: 2px solid transparent;
        outline-offset: 2px;
}

[id^="nutritional_wrapper_"] {
    /* display: none; */
    opacity: 0;
    height: 0px;
    overflow: hidden;
    transition: height 0.6s, opacity 0.6s, transform 0.6s;
}


.slide-down {
    display: block;
    opacity: 1;
    height: 200px;
    transform: translateY(0%);
}

/* credit to: https://jonathanbriehl.com/posts/build-a-simple-calendar-with-carbon-and-laravel#disqus_thread */


.calendar {
    display: flex;
    position: relative;
    padding: 16px;
    /* margin: 0 auto; */
    flex-direction: row-reverse;
    max-height: 512px;
    height: 512px;
    max-width: 50%;
    background: #1F2937;
    border-radius: 4px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.calendar.hidden {

    display: none;

}

.month-year {
    position: absolute;
    bottom:62px;
    right: -27px;
    font-size: 2rem;
    line-height: 1;
    font-weight: 300;
    color: white;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.year {
    margin-left: 4px;
    color: #9A3412;
}

.days {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-right: 46px;
}

.day-label {
    position: relative;
    flex-basis: calc(14.286% - 2px);
    margin: 1px 1px 12px 1px;
    font-weight: 700;
    font-size: 0.65rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.day {
    position: relative;
    flex-basis: calc(14.286% - 2px);
    margin: 1px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day > * {

    font-size: 0.8rem;
}


.day.dull {
    color: #94A3B8;
}

.day.today {
    color: rgb(232, 163, 13);
    font-weight: 600;
}

.day::before {
    /* content: ''; */
    display: block;
    padding-top: 100%;
}

.day:hover {
    background: #111827;
}

.day .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-day {
    
}

.active-mode {

    border: 4px solid lime;
}